@charset "UTF-8";
/* ###############################
    초기화 CSS
################################## */
html {
  height: 100%;
  color: #1a1a1a;
  -webkit-text-size-adjust: none;
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  min-width: 320px;
  max-width: 550px;
  margin: 0 auto;
  line-height: 1.2;
  font-family: "Spoqa Han Sans Neo", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

body {
  overflow-y: hidden;
  min-height: 100%;
  background: #fff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, select, textarea {
  width: 100%;
  font-size: 100%;
  border: 0;
  background: transparent;
  font-family: "Spoqa Han Sans Neo", Helvetica, sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
}

/* input type="number" 우측 화살표 제거 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: 0;
}

img {
  width: 100%;
  vertical-align: top;
  border: 0;
}

address, caption, em, th, var {
  font-style: normal;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

caption {
  display: none;
}

th {
  text-align: left;
}

em, span {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button {
  color: inherit;
  border: 0;
  background: transparent;
  font-family: "Spoqa Han Sans Neo", Helvetica, sans-serif;
  cursor: pointer;
}

label {
  cursor: pointer;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: local("Spoqa Han Sans Neo Bold"), url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  src: local("Spoqa Han Sans Neo Medium"), url("../font/SpoqaHanSansNeo-Medium.woff") format("woff");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: local("Spoqa Han Sans Neo Regular"), url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  src: local("Spoqa Han Sans Neo Light"), url("../font/SpoqaHanSansNeo-Light.woff") format("woff");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 100;
  src: local("Spoqa Han Sans Neo Thin"), url("../font/SpoqaHanSansNeo-Thin.woff") format("woff");
}

@media only screen and (min-width: 550px) {
  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
}

/* ###############################
    전역 class 정의
################################## */
.pdr60 {
  padding-right: 60px !important;
}

.pdr90 {
  padding-right: 90px !important;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
}

.wrap > .container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.wrap > .container.sub {
  overflow-y: auto;
  height: calc(100vh - 98px);
  padding: 22px 20px;
  border-top: 1px solid #d8d8d8;
  background: #f2f3f5;
}

/* ###############################
    Alert, confirm 디자인 커스텀
################################## */
.jconfirm.jconfirm-white .jconfirm-bg,
.jconfirm.jconfirm-light .jconfirm-bg {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.jc-bs3-container {
  padding: 0 40px;
}

.jconfirm .jconfirm-box {
  padding: 0;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane {
  margin-bottom: 0;
}

.jconfirm-content {
  padding: 42px 0 35px;
  line-height: 18px;
  text-align: center;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
  float: none;
}

.jconfirm .jconfirm-box .jconfirm-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 7px;
  padding: 0 20px 20px;
}

.jconfirm .jconfirm-box .jconfirm-buttons .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding: 0;
  line-height: 42px;
  border-radius: 7px;
  color: #fff;
  font-size: 12px !important;
}

.jconfirm .jconfirm-box .jconfirm-buttons .btn.c-gray {
  background: #cccfd9;
}

.jconfirm .jconfirm-box .jconfirm-buttons .btn.c-deep-green {
  background: #0289a6;
  font-weight: 400;
}

.alert-style1 > em {
  font-size: 16px;
  font-weight: 700;
}

.alert-style1 ul {
  margin-top: 25px;
}

.alert-style1 ul li {
  line-height: 18px;
}

/* 버튼 */
.btn-back {
  width: 50px;
  height: 50px;
  background: url(../images/btn_back_black.png) no-repeat 0 0;
  background-size: contain;
}

.btn-back.c-white {
  background: url(../images/btn_back.png) no-repeat 0 0;
  background-size: contain;
}

.btn-block {
  display: block;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  background: #cccfd9;
  text-align: center;
}

.btn-block.bdr-radius-none {
  border-radius: 0;
}

.btn-block.bordered {
  color: #cccfd9;
  border: 1px solid #eaebee;
  background: #fff;
}

.btn-block.bordered.active-red {
  color: #e02343;
  border: 1px solid #e02343;
  background: #fff;
}

.btn-block.md {
  line-height: 42px;
  font-weight: 500;
  font-size: 12px;
}

.btn-block.large {
  line-height: 52px;
  font-size: 14px;
}

.btn-block.active {
  background: #014655;
}

.btn-block.active-red {
  background: #e02343;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 5px;
}

.btn-group.tab {
  position: relative;
}

.btn-group.tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #e02343;
}

.btn-group.tab .btn-block {
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group.tab .btn-block.bordered {
  border-color: #cccfd9;
  color: #bbb;
}

.btn-group.tab .btn-block.bordered.on {
  border-color: #e02343;
  color: #e02343;
}

.btn-group.tab .btn-block.bordered.on::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 6px;
  margin-left: 10px;
  vertical-align: middle;
  background: url(../images/icon_path_red.png) no-repeat 0 0;
  background-size: contain;
}

.btn-group.tab .btn-block.none-bordered {
  background: #cccfd9;
  color: #fff;
}

.btn-group.tab .btn-block.none-bordered.on {
  background: #e02343;
  color: #fff;
}

.btn-group.tab .btn-block.none-bordered.on::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 6px;
  margin-left: 10px;
  vertical-align: middle;
  background: url(../images/icon_path_white.png) no-repeat 0 0;
  background-size: contain;
}

/* ###############################
    전역 공통 class
################################## */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* ###############################
    공통 컴포넌트
################################## */
/* 좌/우측 row 정렬 컴포넌트 */
.lr-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* header 공통 */
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25px;
}

.header.stack {
  position: relative;
  z-index: 1;
}

.header.center h1 {
  margin: 0 auto;
  padding-left: 0;
}

.header h1 {
  padding-left: 45px;
  font-size: 17px;
  color: #000;
  font-weight: 500;
}

/* 다국어 */
.lang-choice button {
  display: block;
  line-height: 18px;
  font-weight: 500;
  font-size: 12px;
  color: #727e8b;
}

.lang-choice button::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 18px;
  margin-right: 7px;
  vertical-align: middle;
}

.lang-ko::before {
  background: url(../images/icon_flag_kor.png) no-repeat 0 0;
  background-size: contain;
}

.lang-en::before {
  background: url(../images/icon_flag_en.png) no-repeat 0 0;
  background-size: contain;
}

.lang-display {
  font-weight: 500;
  color: #727e8b;
}

.lang-display::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 18px;
  margin-right: 7px;
  vertical-align: middle;
}

.lang-display.ko::before {
  background: url(../images/icon_flag_kor.png) no-repeat 0 0;
  background-size: contain;
}

.lang-display.en::before {
  background: url(../images/icon_flag_en.png) no-repeat 0 0;
  background-size: contain;
}

/* input */
.input-basic {
  position: relative;
}

.input-basic.pass::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 8px;
  width: 16px;
  height: 17px;
  background: url(../images/icon_chk2.png) no-repeat 0 0;
  background-size: contain;
}

.input-basic.pass .btn-form-chk {
  display: none;
}

.input-basic em {
  display: block;
  margin-bottom: 5px;
  line-height: 16px;
  font-size: 12px;
  color: #727e8b;
}

.input-basic input {
  padding: 0 32px 9px 0;
  font-size: 14px;
  border-bottom: 1px solid #d6d6d6;
}

.input-basic input::-webkit-input-placeholder {
  color: #bbb;
}

.input-basic input:-ms-input-placeholder {
  color: #bbb;
}

.input-basic input::-ms-input-placeholder {
  color: #bbb;
}

.input-basic input::placeholder {
  color: #bbb;
}

.input-basic .input-txt-guide {
  font-size: 11px;
  color: #bbb;
}

.input-basic-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-basic-divider .input-basic-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.input-basic-divider .arrow {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
}

.input-basic .divider-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0 8px;
}

.input-basic .divider-two .selectbox {
  border-bottom: 1px solid #d6d6d6;
}

.input-basic .btn-form-chk {
  position: absolute;
  top: 20px;
  right: 5px;
  line-height: 16px;
  color: #0289a6;
  font-weight: 500;
}

.input-labeled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eaebee;
  border-radius: 5px;
}

.input-labeled em {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding-left: 8px;
}

.input-labeled input {
  height: 35px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 10px;
  text-align: right;
}

.input-labeled input::-webkit-input-placeholder {
  color: #cccfd9;
}

.input-labeled input:-ms-input-placeholder {
  color: #cccfd9;
}

.input-labeled input::-ms-input-placeholder {
  color: #cccfd9;
}

.input-labeled input::placeholder {
  color: #cccfd9;
}

.input-basic-group {
  height: 65px;
}

.input-basic-group + .input-basic-group {
  margin-top: 17px;
}

/* 체크박스 */
.chkbox em {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #727e8b;
}

.chkbox em::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #d6d6d6;
  vertical-align: middle;
}

.chkbox input:checked + em::before {
  border: 1px solid #51c4d9;
  background: url(../images/icon_chk.png) no-repeat 50% 50%;
  background-size: 12px 9px;
}

/* 셀렉트 박스 */
.selectbox {
  position: relative;
}

.selectbox::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 3px;
  width: 20px;
  height: 20px;
  background: url(../images/icon_arrow_arrow_right.png) no-repeat 0 0;
  background-size: contain;
}

.selectbox select {
  width: 87px;
  height: 30px;
}

/* 탭 정의 */
.tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 25px;
}

.tab-container a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 14px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.3;
}

.tab-container a.active {
  opacity: 1;
  border-bottom: 2px solid #1a1a1a;
}

/* item */
.item-goods {
  padding: 20px 15px 15px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.item-goods:not(:first-child) {
  margin-top: 10px;
}

.item-goods .tit {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
}

.item-goods-info {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0 10px;
  margin-bottom: 10px;
}

.item-goods-info .left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 103px;
          flex: 0 0 103px;
}

.item-goods-info .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.item-goods-info .goods-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.item-goods-info .goods-unit em {
  color: #727e8b;
}

.item-goods-info .goods-sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-goods-info .goods-sum em {
  color: #727e8b;
}

.item-goods-info .input-labeled:not(:first-child) {
  margin-top: 5px;
}

.item-goods.sold-out {
  position: relative;
}

.item-goods.sold-out::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.6;
  border-radius: 10px;
}

.item-goods.sold-out .btn-group {
  position: relative;
  z-index: 1;
}

.item-goods.sold-out .btn-group .btn-block {
  color: #fefffe;
  background: #1f2429;
}

.item-goods-buy {
  display: none;
  padding-top: 25px;
}

.item-goods-buy .input-basic-divider {
  margin: 10px 0;
}

.item-goods-buy.active {
  display: block;
}

.item-goods.theme-dark {
  background: #000;
}

.item-goods.theme-dark .tit {
  color: #fefffe;
}

.item-goods.theme-dark .goods-unit em, .item-goods.theme-dark .goods-sum em {
  color: #bbb;
}

.item-goods.theme-dark .goods-unit span, .item-goods.theme-dark .goods-sum span {
  color: #fefffe;
}

.item-goods.theme-dark .input-labeled {
  border-color: #272727;
}

.item-goods.theme-dark .input-labeled em {
  color: #fefffe;
}

.item-goods.theme-dark .input-labeled input {
  color: #fefffe;
}

.item-goods.theme-dark .input-labeled input::-webkit-input-placeholder {
  color: #727e8b;
}

.item-goods.theme-dark .input-labeled input:-ms-input-placeholder {
  color: #727e8b;
}

.item-goods.theme-dark .input-labeled input::-ms-input-placeholder {
  color: #727e8b;
}

.item-goods.theme-dark .input-labeled input::placeholder {
  color: #727e8b;
}

.item-goods.theme-dark .btn-block {
  color: #6e6e6e;
  background: #1f2429;
}

.item-goods.theme-dark .btn-block.active-red {
  color: #fff;
  background: #e02343;
}

.item-goods.theme-dark .btn-block.bordered {
  color: #6e6e6e;
  background: #000;
  border-color: #2f2f2f;
}

.item-goods.theme-dark .btn-block.bordered.active-red {
  color: #e02343;
  border-color: #e02343;
}

.item-goods.theme-dark.sold-out::after {
  background: #000;
  opacity: 0.54;
}

.item-goods.theme-dark .btn-group.tab .btn-block.bordered {
  border-color: #2f2f2f;
  color: #727e8b;
}

.item-goods.theme-dark .btn-group.tab .btn-block.bordered.on {
  border-color: #e02343;
  color: #e02343;
}

.item-goods.theme-dark .btn-group.tab .btn-block.bordered.on::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 6px;
  margin-left: 10px;
  vertical-align: middle;
  background: url(../images/icon_path_red.png) no-repeat 0 0;
  background-size: contain;
}

.item-goods.theme-dark .btn-group.tab .btn-block.none-bordered {
  background: #1f2429;
  color: #6e6e6e;
}

.item-goods.theme-dark .btn-group.tab .btn-block.none-bordered.on {
  background: #e02343;
  color: #fff;
}

.item-goods.theme-dark .btn-group.tab .btn-block.none-bordered.on::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 6px;
  margin-left: 10px;
  vertical-align: middle;
  background: url(../images/icon_path_white.png) no-repeat 0 0;
  background-size: contain;
}

.item-goods.theme-dark .item-goods-buy .input-basic em {
  color: #bbb;
}

.item-goods.theme-dark .item-goods-buy .input-basic input {
  color: #fefffe;
}

.item-goods.theme-dark .item-goods-buy .input-basic input::-webkit-input-placeholder {
  color: #727e8b;
}

.item-goods.theme-dark .item-goods-buy .input-basic input:-ms-input-placeholder {
  color: #727e8b;
}

.item-goods.theme-dark .item-goods-buy .input-basic input::-ms-input-placeholder {
  color: #727e8b;
}

.item-goods.theme-dark .item-goods-buy .input-basic input::placeholder {
  color: #727e8b;
}

.item-goods.theme-dark .item-goods-buy .input-txt-guide {
  color: #727e8b;
}

/* input 하단 폼 오류시 노출되는 문구 타입 */
.error-txt {
  margin: 5px 0 0 5px;
  visibility: hidden;
  font-size: 12px;
  color: #e63312;
}

.error-txt.active {
  visibility: visible;
}

.good-txt {
  margin: 5px 0 0 5px;
  visibility: hidden;
  font-size: 12px;
  color: #51c4d9;
}

.good-txt.active {
  visibility: visible;
}

/* 안내성 문구 가이드 */
.top-guide {
  line-height: 44px;
  border-radius: 5px;
  background: #eaebee;
  text-align: center;
}

/* ###############################
    로그인
################################## */
.login {
  overflow-y: auto;
  height: calc(100vh - 50px);
  margin-top: -50px;
}

.login > section:not(:first-child) {
  padding-left: 25px;
  padding-right: 25px;
}

.login-input {
  position: relative;
  margin-top: -30%;
  border-radius: 30px 30px 0 0;
  background: #fff;
}

.login-input h1 {
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.login-input .input-basic-group:first-child {
  margin-bottom: 10px;
}

.login-input .lr-box {
  margin: 18px 0 40px;
}

.login .btn-block {
  width: calc(100% - 50px);
  margin: 0 25px;
}

.login .account-search {
  padding: 23px 0;
}

.login .account-search a {
  line-height: 16px;
  color: #727e8b;
}

.login .account-search .left a:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 8px;
  background: #bbb;
  vertical-align: middle;
}

/* ###############################
    회원가입
################################## */
.join {
  overflow-y: auto;
  height: calc(100vh - 102px);
  padding: 25px 25px 0;
}

.join-term {
  padding: 20px 0 45px;
}

/* ###############################
    회원가입완료
################################## */
.join-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
}

.join-complete section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin-top: 105px;
  text-align: center;
}

.join-complete section .txt {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.join-complete section .txt::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 auto 10px;
  background: url(../images/icon_circle_check.png) no-repeat 0 0;
  background-size: contain;
}

.join-complete .btn-block {
  width: calc(100% - 50px);
  margin: auto 25px 25px;
}

/* ###############################
    아이디, 비번 찾기
################################## */
.find {
  padding: 16px 25px 0;
}

.find .top-guide {
  margin-bottom: 37px;
}
